<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="../../static/css/style.css" />
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
</head>
<body>
    <!--top navigation starts-->
    <nav class="top-navbar">
        <a href="#" class="brand-logo">Logo</a>
        <div class="nav-func">
            <i class="las la-bell icon-cus"></i>
            <i class="las la-sign-out-alt icon-cus"></i>
        </div>
    </nav>
     <!--top navigation ends-->
    <section class="main-content">
    <!--sidebar starts-->
        <aside class="sidebar">


        </aside>
         <!--sidebar ends-->
         <div class="container">

         </div>
    </section>
</body>
</html>
